body{
  background-image: url(https://i.pinimg.com/originals/cc/f9/cf/ccf9cfe12713b8914ab07d9a54ee662a.jpg);
}
h3{
  color:white;
}
img {
  margin: 0px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 50%;
  border: 5px solid black;
}


.container {
   text-align: center;
   color:blue;
   font-size: 20px;
   top: 50%;
   background-color: white;
   opacity: 0.9;
}

.bar1 {
  overflow: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2015/02/09/05/23/geometric-629351_960_720.jpg);
  background-size:cover;
  font-size: 15px;
}

.bar1 a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px;
}

.top{
  text-align:center;
  color:white;
  background:black;
  width: 200px;
  padding: 5px;
  margin: auto auto;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px solid white;
}

.button a{
  text-decoration: none;
  color: black;
}

.button {
  font-size: 30px;
  text-align: center;
  transition-duration: 0.4s;
  width: 700px;
  border-radius: 50px;
  margin: 50px auto;
  border: 5px solid black;
}
#web.button{
  background-color: red;
}
#kor.button{
  background-color: blue;
}

#web.button:hover {
  background-color:	white;
}
#kor.button:hover {
  background-color: white;
}

footer{
  text-align:center;
}
.bar2 {
  overflow: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2015/02/09/05/23/geometric-629351_960_720.jpg);
  background-size:cover;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 99%;
}

.bar2 a {
  text-decoration: none;
  color:white;
}
#txt{
  font-family: 'digital-7', sans-serif;
  color:black;
  font-size: 50px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}
