body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.bar1 {
  overflow: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2015/02/09/05/23/geometric-629351_960_720.jpg);
  background-size:cover;
  font-size: 15px;
}

.bar1 a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  height: 90vh;
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

@media (min-aspect-ratio:16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .video-background {
    width: 100%;
    height: auto;
  }
}

.welcome {
  position: relative;
  text-align: center;
  color: blue;
  top: 330px;
}

h1 {
  color: blue;
  background-color: white;
  font-size: 40px;
  padding: 10px;
  margin: 0px 20%;
  border: 5px solid blue;
  border-radius: 50px;
  font-weight: 100;
  left: 20px;
  text-align: center;
  width: 950px;
}

.welcome h1 {
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.btn {
  font-size: 28px;
  color: #fff;
  margin: 5px;
  font-family: sans-serif;
  padding: 7px 22px;
  text-decoration: none;
  border: 4px solid blue;
  border-radius: 25px;
  font-weight: bold;
  background: white;
  color:blue;
  opacity: 90%
}

.btn-move:hover {
  background: skyblue;
  transition: 0.5s;
}
