body{
  background-image: url(https://iylf2010.files.wordpress.com/2010/07/bugil-academy.jpg?w=640);
  background-size:cover;
  overflow: scroll;
}

.container {
   text-align: center;
   text-decoration: none;
   color: darkred;
   font-size: 27px;
   background-color: white;
   opacity: 0.8;
}

.bar1 {
  overflow: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2015/02/09/05/23/geometric-629351_960_720.jpg);
  background-size:cover;
  font-size: 15px;
}

.bar1 a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px;
}

.bar2 {
  overflow: hidden;
  background-image: url(https://cdn.pixabay.com/photo/2015/02/09/05/23/geometric-629351_960_720.jpg);
  background-size:cover;
  text-align: center;
  font-size: 50px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 99%;
}

.bar2 a {
  text-decoration: none;
  color:white;
}
