body{
  background-image: url(https://c1.wallpaperflare.com/preview/941/303/656/starry-stars-star-system-night.jpg);
}
h3{
  color:#87CEEB;
}
img {
  margin: 0px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 50%;
  border: 5px solid #4F4F4F;
}
.top{
  text-align:center;
  color:black;
  background:white;
  width: 300px;
  padding: 5px;
  margin: auto auto;
  margin-top: 40px;
  border-radius: 30px;
  border: 5px solid #4F4F4F;
}
.button {
  font-size: 30px;
  text-align: center;
  transition-duration: 0.4s;
  width: 700px;
  border-radius: 50px;
  margin: 20px auto;
  background-color: white;
  border: 5px solid #4F4F4F;
}
#info.button:hover {
  background-color:	#0BDA51
}
#aca.button:hover {
  background-color: orange;
}
#enter.button:hover {
  background-color: #1F75FE;
}
#gall.button:hover {
  background-color: #FF0000;
}
#google.button:hover {
  background-color: #7F00FF;
}
#Menu{
  text-align:center;
}
a{
  text-decoration: none;
  color: black;
}
footer{
  text-align:center;
}

.bar{
  overflow: hidden;
  text-align: center;
  font-size:20px;
  bottom: 0px;
  z-index: 5;
  width: 99%;
}

.bar h3 {
  text-decoration: none;
  color:white;
}
